.board {
  table-layout: fixed;
  border-collapse: collapse;
  width: 560px;
}

.board td {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;
}

.board img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.board svg {
  padding: 0;
  margin: 0;
}

.light.square {
  background: #ffce9e;
}

.dark.square {
  background: #d18b47;
}

.trash
{
  width: 90px;
}

body
{
  display: table;
}

#main
{
  display: table-row;
}

#main section
{
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

#main section#score
{
  padding-left: 10px;
}
